<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Instructions</title>
        <link rel="stylesheet" type="text/css" href="../public/styles/main.css">
    </head>

    <body>
        <div class="root">
            <%- include('header.ejs') %>
            <main>
                
            </main>
            <%- include('footer.ejs') %>
        </div>
    </body>
</html>