<footer>
    <div class="footer-div">
        <p>Made by Petar Železnjak - 0036524958</p>
        <p>Fakultet Elektrotehnike i Računarstva, Sveučilište u Zagrebu</p>
        <p>Made for "Otvoreno računarstvo"</p>
        <p>Excercise 2</p>
    </div>
</footer>