<header>
    <div class="header-div">
        <div>
            <p>School Instructions Data Set</p>
        </div>
        <div class="home-button-div">
            <a href="/">
                <button class="header-button borderless-button">Home</button>
            </a>
        </div>
    </div>
</header>