<header>
    <div class="header-div">
        <div>
            <p>School Instructions Data Set</p>
        </div>
        <div class="home-button-div">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                <a href="/">Home</a>
                <% if (!isUserLoggedIn) { %>
                    <a href="/login">Login</a>
                <% } else { %>
                    <a href="/logout">Logout</a>
                    <a href="/profile">Profile</a>
                    <a href="/refresh-snapshots">Refresh snapshots</a>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</header>